# shouldn't need to change anythign here

POSTGRES_DB=gamercalendar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/gamercalendar

JWT_SECRET=change-me-to-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_DAYS=7

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=